@charset "UTF-8";
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
li {
  list-style: none;
}

.wrap {
  display: flex;
  background-color: #f0f0f0;
  height: 100vh;
}

.menu {
  width: 10%;
  padding: 16px;
  justify-content: space-around;
  background-color: #000;
}

.menu a {
  color: #fff;
}

#canvas {
  cursor: pointer;
  margin-left: 10%;
  margin-top: 5vh;
  background-color: #fff;
  box-shadow: 4px 4px 12px rgba(0,0,0,0.2);
}

.clearCanvasButton {
  margin-left: 10%;
  margin-top: 16px;
  background-color: #000;
  color: #fff;
  width: 200px;
  padding: 8px 0;
  font-size: 24px;
}

.color-buttons {
  margin-left: 10%;
  padding-top: 16px;
}
.color-button {
  padding: 4px 8px;
  margin-right: 4px;
  border: 3px solid;
  font-size: 24px;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}