@charset "UTF-8";
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
li {
  list-style: none;
}

.contents {
  display: flex;
  background-color: #acacac;
  width: 100vw;
  height: 100vh;
}
.canvas {
  background-color: #fff;
  margin: 5vh auto;
  width: 500px;
  height: 500px;
}